{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
<title>Terms and Conditions | Flight</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block body %}
<section class="privacybanner-section">
    <img src="{% static 'img/about-us.png' %}" alt="Privacy Policy" class="privacybannerimg">
</section>
<section class="section section1">
    <div class="container">
        <h1>
            Seamless Trip Management for Destination Living</h1>
        <p>In the 90s, booking a ticket meant enduring long airport queues. Then the internet arrived, transforming everything. Online ticket booking became a reality, making travel more convenient. Even with ongoing restrictions, travel has become increasingly affordable. In 2018 alone, Indian travellers embarked on approximately 2 billion trips, showcasing the growing travel culture. The way we book and experience travel has been revolutionized, all thanks to the power of the internet.</p>
        <p>Despite advancements, travel remains chaotic and uncertain, leading to unpleasant experiences. Many still encounter frustrations and difficulties during their trips, highlighting the need for improvement in the travel experience.</p>
        <p>The challenges in travel stem from information asymmetry. Travelers face the arduous task of seeking relevant trip information, as it is dispersed among various stakeholders. This lack of timely access leads to frustration, anger, and overall dissatisfaction. Despite the abundance of information, its effective dissemination to travelers is lacking. At our core, we aim to bridge this gap and provide seamless access to comprehensive travel information, ensuring smoother and more enjoyable experiences.</p>
        <p>Modern travel bookings often lack clarity about crucial trip details: departure time, arrival time, and overall comfort. On the day of travel, the frantic search for transportation, anxiety over traffic delays, and rushing to catch the boarding gate are all too common. At our core, we aim to alleviate these uncertainties, providing a seamless travel experience with comprehensive trip information and timely assistance.</p>
        <p>Unleashing Unforgettable Journeys. We're committed to making every trip a remarkable experience.</p>
    </div>
</section>
{% endblock%}