{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Privacy Policy | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/privacy-policy.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                Flight Planners Limited prioritizes your privacy and implements robust measures to protect and uphold the confidentiality of your personal information shared through our <b>"site link"</b>.
            </p>
            <p>
                Our Privacy Policy applies to users of flight-web-app.herokuapp.com, encompassing online channels such as our website, mobile site, and app, as well as offline channels like call centers and offices. By accessing any of our Sales Channels, you agree to the terms outlined in this Privacy Policy. We prioritize transparency and seek to establish trust with our valuable customers. Should you disagree with our Privacy Policy, we kindly request that you refrain from using or accessing our Website or other Sales Channels. Your privacy matters, and we are committed to safeguarding your information every step of the way.
            </p>
            <p>
                Our Privacy Policy exclusively pertains to flight-web-app.herokuapp.com and does not extend to third-party websites, mobile sites, or apps, even if they are linked to our platform. It's important to note that the information and privacy practices of our business partners, advertisers, sponsors, or websites linked through hyperlinks may vary substantially from our Privacy Policy. We advise users to carefully review the privacy statements and policies of these third-party entities before engaging with them. As you journey through the digital landscape, we encourage you to stay informed and understand the distinct privacy approaches employed by different parties.
            </p>
        </div>
    </section>
{% endblock%}